<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mii作成ページ</title>
</head>
<body>
    <h1>Miiを作成する</h1>
    <div class="category">
        <button class="hair">髪型</button>
        <button class="face">輪郭</button>
        <button class="eyes">目</button>
        <button class="nose">鼻</button>
        <button class="mouth">口</button>
    </div>
    <div class="parts">
        <button class="part">髪型1</button>
        <button class="part">髪型2</button>
        <button class="part">髪型3</button>
        <button class="part">髪型4</button>
        <button class="part">髪型5</button>

    </div>
    <div class="preview">プレビュー</div>
    <button>完成</button>
</body>
</html>